.videoCart{
    width: 270px;
    margin-bottom: 40px;
}
.videoCart_thumbnail{
    display: flex;
    height: 140px;
    width: 250px;
}
.videoCart_info {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    padding-right: 30px;

}
.videoCart_text{
    margin-left: 15px;
}
.videoCart_text h2{
    font-size: 14px;
    margin-bottom: 5px;
}
.videoCart_text p {
    font: 14px;
    color: grey;
}
.video_avatar{
    height: 30px !important;
    width: 30px !important;
}